{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "> 0.25%, not dead, not ie 10",
                "useBuiltIns": "usage",
                "corejs": "3"
            }
        ]
    ],
    "env": {
        "production": {
            "presets": ["minify"]
        }
    }
}
